__pycache__/
*.pyc
*.cpython-310.pyc
*.pyo
*.pyd

.env
.venv
venv/

# large data and img files
review/
data/
tiles/
tile_signature_matrix/

*.h5ad

.ipynb_checkpoints/

.history/

# HNE package .egg-info
*.egg-info/
dist/
build/

# ignore env files
.env
nohup.out
